@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.carousel {
    height:500px;
    margin-bottom: 60px;
}

.carousel img {
    max-height:500px;
    margin:auto;
}