/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro');

@media (min-width: 900px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

body {
  /*font-family: 'Droid Serif', serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  /*background-color: #DBC2CF;
  color: #020202;*/

  padding-top: 70px; 
}

/* NAVIGATION */

nav {
  /* TODO: give this a background color? */
  /*background-color: #9FA2B2;*/
}

.navbar-btn {
  width: 98px;
}

/* Centers collapsed navbar options */
.navbar .navbar-collapse {
  text-align: center;
}

#main-navigation a {
  font-size: 18px;
}

/* IMAGE CAROUSEL */

.carousel {
  max-height: 500px;
  margin-bottom: 60px;
}

#carousel-container, #carousel-container img {
  max-height: 500px;
  margin: auto;
}

/* INFORMATION SECTION */

#informationSection {
  margin-top: 15px;
  font-size: 16px;
}

.center-content {
  margin: auto;
  text-align: center;
}

#mapSection {
  margin-top: 20px;
  padding-top: 20px;
}

#informationSection a {
  /* TODO: Need to add style for anchors */
}

/* REGISTRY SECTION */

/* RSVP MODAL */
.modal-body div {
  padding-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

